
@media (max-width: 959px) { 
    .container__angle {
        position: relative;
        background-color: #161e2eff;
        background-size: 100%;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 22px;
    }
}
.font__arcup {
  font-family: RoundedElegance;
  font-size: 40px;
}
  .font__main-light {
    font-family: GilroyLight;
  }
  .font__main-bold {
    font-family: GilroyBold;
  }
  .font__main-alter {
    font-family: Mazzard;
  }
@font-face {
    font-family: RoundedElegance;
    src: url("../src/assets/Rounded_Elegance.ttf");
  }
  @font-face {
    font-family: GilroyBold;
    src: url("../src/assets/Gilroy-ExtraBold.otf");
  }
  @font-face {
    font-family: GilroyLight;
    src: url("../src/assets/Gilroy-Light.otf");
  }
  @font-face {
    font-family: Mazzard;
    src: url("../src/assets/MazzardH-SemiBold.ttf");
  }